.card__box {
  width: 98%;
  border-radius: 10px !important;
}

.post_box_image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
}

.post__input {
  border-radius: 30px !important;
  cursor: pointer;
}

.post__icon {
  font-size: 20px;
  cursor: pointer;
  color: #25282b;
}
@media only screen and (max-width: 992px) {
  .card__box {
    width: 95%;
  }
}
