#main-home {
  width: 100%;
  height: 47rem;
  /*height: 47em;*/
  background-image: url("/public/assets/cutting-board-knife-1.jpg");
  background-size: cover;
  /*text-align: center;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*font-family: "Open Sans", sans-serif;*/

}
.left__bar {
  height: 90vh;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  left: 0;
}
.post__bar {
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 40px;
}
.news__feed {
  position: fixed;
  margin-top: 80px;
}
.right__bar {
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  right: 0;
  margin-top: 60px;
}
.post__bar::-webkit-scrollbar {
  display: none;
}

.left__bar::-webkit-scrollbar {
  display: none;
}

.right__bar::-webkit-scrollbar {
  display: none;
  width: 12px;
  cursor: pointer;
}
.right__bar::-webkit-scrollbar-track {
  background: #333;
  cursor: pointer;
}

.right__bar::-webkit-scrollbar-thumb {
  background-color: tomato;
  border-radius: 20px;
  border: 3px solid #333;
  cursor: pointer;
}

.loading__container {
  padding: 50px;
}

@media only screen and (max-width: 992px) {
  .news__feed {
    margin-top: 60px;
  }
}

