.left__bar__container {
  height: 100%;
  z-index: -1;
  padding-left: 20px;
  clear: both;
  margin-right: 30px;
  width: 100%;
  margin-bottom: 100px;
}
.left__bar__profile {
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  display: flex;
  margin-top: 40px;
  align-items: center;
}
.username__container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.username__container h5 {
  margin-left: 5px;
  margin-bottom: -5px;
  font-size: .8rem;
  font-weight: bold;
}
.username__container p {
  margin-bottom: 0px;
  margin-left: 5px;
  font-size: 0.7rem;
  margin-top: 2px;
  text-align: left;
}
.left__bar__user__image {
  width: 55px;
  border-radius: 50%;
}
.left__bar__top__options {
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.left__bar__top__options a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  margin-top: 10px;
}
.left__bar__bottom__options {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.left__bar__bottom__options h1 {
  font-size: 1.3rem;
  margin-bottom: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.left__bar__bottom__options a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  margin-top: 10px;
}
