.nav__item {
  letter-spacing: 2px;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-left: 20px;
  color: grey;
}

.auth__item {
  letter-spacing: 2px;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-left: 20px;
  color: grey;
}

/*.nav-container {*/
/*  margin-bottom : 80px;*/
/*}*/
.nav__link:hover {
  text-decoration: none;
  color: #82ae46;
}


/*.nav__link {*/
/*  text-decoration: none;*/
/*  color: #000;*/
/*}*/


