/*.review {*/
/*    border-bottom: 0.1px solid aqua;*/
/*    margin-left: 10px;*/
/*}*/
/*.checked {*/
/*    color: green;*/
/*}*/

/*.source {*/
/*    margin-top: 10px;*/
/*}*/

/*.card {*/
/*    border: 1px solid black;*/
/*}*/

/*.nutrition{*/
/*    text-align: center;*/
/*    border-bottom: 0.1px solid aqua;*/
/*    margin: auto;*/
/*}*/

/*.love {*/
/*    border: 1px solid black;*/
/*}*/

/*.red {*/
/*    color: red;*/
/*}*/
/*.image-container img{*/
/*    margin-left: 60px;*/
/*    margin-right: 0;*/
/*    width: 80%;*/
/*    height: 100%;*/
/*    border-style: solid;*/
/*    border-width: 10px;*/
/*    border-radius: 5px;*/
/*    border-color: slategray;*/
/*}*/

/*.bottom-container {*/
/*    margin-top: 80px;*/

/*}*/

/*.bottom-card {*/
/*    padding-left: 80px;*/
/*    width: 100%;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/

/*}*/

/*.recipe-description-container{*/

/*    width: 100%;*/
/*    height: 100%;*/
/*    margin-bottom: 100px;*/
/*    background-image: url("/public/assets/pexels-skitterphoto-349749.jpg");*/
/*    background-size: cover ;*/
/*    background-repeat: repeat;*/

/*}*/

/*.mid-row-container {*/


/*}*/

/*.cook-time-container {*/
/*    padding-left: 200px;*/
/*    border-style: solid;*/
/*    border-width: 10px;*/
/*    border-radius: 5px;*/
/*    border-color: slategray;*/
/*}*/
/*.recipe-description-title {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    width: 30%;*/
/*    padding-top: 100px;*/
/*    padding-bottom: 35px;*/
/*    background-color: whitesmoke;*/
/*    border-style: solid;*/
/*    border-width: 5px;*/
/*    border-radius: 5px;*/
/*    border-color: slategray;*/
/*}*/

/*.recipe-description-summary {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-bottom: 50px;*/
/*    padding: 60px;*/
/*    background-color: whitesmoke;*/
/*    border-style: solid;*/
/*    border-width: 5px;*/
/*    border-radius: 5px;*/
/*    border-color: slategray;*/
/*}*/

/*span i {*/
/*    border-style: solid;*/
/*    border-width: 5px;*/
/*    border-radius: 5px;*/
/*    border-color: slategray;*/
/*    background-color: whitesmoke;*/
/*}*/

/*.icon-container {*/
/*    padding: 80px;*/
/*}*/

/*.description-card {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/
.span-ingredients {
    color: red;
}
.ingredients-list-inline {

}

.ingredients-list-inline img {
    width: 120px;
    height: 100px;

}
.ingredients-des-container{
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 50px;
}

.ingredient-title {
    margin-left: 0px;
}

.recipe-des-summary {
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto ;
}

.recipe-des-image img{
    width: 90%;
    height: 100%;
    padding: 10px;
}

.recipe-des-title {
    padding: 30px;
    height: 300px;
    margin-bottom: 30px;
}
.recipe-des-body {
    padding: 100px 30px 30px;

}

.recipe-main-container {
    background-image: url("/public/assets/pexels-skitterphoto-349749.jpg");
    background-size: contain;

}

.recipe-des-cooking {
    padding: 30px;
}

.ingredient-des-props {
    padding: 10px;
}

.theme {
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: slategray;
}

.start-cooking-btn {
    margin-right: auto;
    margin-left: auto;
    color: white;
}