
.ingredients-list-inline {
}

.span {
    text-align: center;
}
.ingredients-list-inline img {
    width: 120px;
    height: 100px;

}
.ingredients-des-container{
    background-color: #82ae46;
    margin-top: 50px;
}

.ingredient-title {

}

.recipe-des-summary {
    margin-top: 40px;
}

.recipe-des-image img{

    width: 100%;
    padding: 10px;
}

.recipe-des-title {
    padding: 30px;
    margin-bottom: 30px;
}
.recipe-des-body {
    padding-top: 100px;

}

.recipe-main-container {
    background-image: url("/public/assets/kitchen-long-wide-shot.jpg");
    background-size: contain;

}

.recipe-des-cooking {

    padding: 30px;
}

.ingredient-des-props {
    /*padding: 10px;*/
}

.theme {
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: slategray;
}

.start-cooking-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.button-form {
    margin-left: auto;
    margin-right: auto;
}

.title {
    padding: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: slategray;
    //background-color: slategray;
}

.des-header {
    padding: 10px;
    color: white;
    background-color: slategray;
}

.ingredient-col {

    margin-right: 10px;

}

.margin-bottom {
    margin-bottom: 20px;
}

.content-padding {
    padding: 15px;
}

.strong-theme p strong{
    color: slategray;
}