.right__bar_container {
  height: 100vh;
  z-index: -1;
  clear: both;
  padding-right: 20px;
}
.notification__button {
  background-color: white;
  border-radius: 50%;
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
}
.search__input__container {
  margin-top: 5%;
}
.search__input {
  width: 100%;
  margin: 0 auto;
  border-radius: 30px;
}
.ingredients__container {
  margin-top: 5%;
}
